<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/float-layout.css">
	<title>css 레이아웃 테크닉</title>
</head>
<body>
	<!-- .container>.col*6>lorem3 -->
	<div class="container">
		<div class="col">Lorem ipsum dolor.</div>
		<div class="col">Distinctio, nam, perspiciatis.</div>
		<div class="col">Ipsum hic, aut.</div>
		<div class="col">Ducimus repellendus, voluptatem.</div>
		<div class="col">Debitis, vel, itaque.</div>
		<div class="col">Totam, veniam, id.</div>
	</div>
</body>
</html>